:host {
    width: 100%;
}

.title-all {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    color: cornflowerblue;
}

.app {
    display: flex;
    width: 100%;
    align-content: space-around;
    flex-wrap: wrap;
}